#buttonImage {
    display: inline-block;
    margin-top: 2px;
    width: 50px;
    height: 30px;
}

.flatbutton{
    border:1px solid #ffffff;
    background-color:#ffffff;
    width:100px;
    height:28px;
    color: aliceblue;
}